# Lab 1 ignore files
*.exe
*.obj
*.res
*.tds
*.bpr
*.dfm
*.ddp
*.~ddp
*.~bpr
*.~cpp
*.~dfm
*.~h
#Lab 3 netbeans
# NetBeans specific #
Lab3/Calculator/nbproject/private/
Lab3/Calculator/build/
Lab3/Calculator/nbbuild/
Lab3/Calculator/dist/
Lab3/Calculator/nbdist/
Lab3/Calculator/nbactions.xml
Lab3/Calculator/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear