# Lab 1 ignore files
*.exe
*.obj
*.res
*.tds
*.bpr
*.dfm
*.ddp
*.~ddp
*.~bpr
*.~cpp
*.~dfm
*.~h
#Lab 3 netbeans
# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear